<footer>
	<div class="container">
		<ul>
			<li><a href="/terms.html">Terms of Use</a></li>
			<li><a href="/privacy/">Privacy Policy</a></li>
			<li><a href="/about.html">About Us</a></li>
		</ul>
		<p>&copy; GRAYPE Systems (P) Limited</p>
	</div>
</footer>
