<footer>
	<div class="container">
		<div class="row">
			<section class="col-md-10 col-md-offset-1">
				<p>
					<a href="/terms/">Terms of Use</a> |
					<a href="/privacy/">Privacy Policy</a> |
					<a href="http://graype.in">About</a>
					<br />
					&copy; GRAYPE Systems (P) Limited
				</p>
			</section>
		</div>
	</div>
</footer>
