<header class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<a href="/">
				<img src="/images/decisively_logo.png" alt="Decisively from GRAYPE" id="logo"/>
			</a>
		</div>

		<nav class="col-md-5 col-md-offset-2">
			<ul>
				<li><a href="/examples/">Examples</a></li>
				<li><a href="/learn/">Learn</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="http://graype.in/">About</a></li>
			</ul>
		</nav>
	</div>
</header>
