---
title: Brainstorming
date: 2005/11/01
tags: methods-tools-techniques
---

<p>
Brainstorming is a technique to systematically generate ideas usually to handle a challenging situation, from a group of people by nurturing free-thinking. There are several such opportunities in any organisation, e.g. Improving productivity, increasing sales, finding new business development areas, launching new products or defining new processes.
</p>
<p>
While there may be well defined techniques or processes to handle these situations, but brainstorming is a critical activity in all of these processes. Techniques such as Affinity, Nominal group technique, Cause and Effect Diagram, Failure mode effect analysis, 5 whys, Fault tree analysis, Decision matrix, and Risk analysis require brainstorming as an integral part of their execution. The list is endless!
</p>
<p>
Brainstorming required for generating inputs for the above techniques is complex as compared to the free flow ideation that one usually associates with the term brainstorming.  An example of the kind of brainstorming required here can be observed in a 5-why analysis, where brainstorming occurs for every why in a hierarchical manner until a root cause is discovered.
</p>
<p>
Here are few example of situations, where brainstorming can be applied as an effective technique:
</p>
<ol class="normal-li">
<li> Process design or re-engineering using SIPOC, and Process Map.</li>
<li> Root cause determination by leveraging techniques like Fishbone Diagram, 5 Whys, and Fault tree analysis.</li>
<li> Developing robust concepts, design, and processes using FMEA.</li>
<li> Project Management using Project Planning &amp; Scheduling and  Risk Analysis.</li>
</ol>
<p>
Brainstorming session must be orchestrated by a facilitator. The number of participants in a session must be limited to a manageable number - typically between 5 and 15. There are few rules for a successful brainstorming, which should be enforced by the facilitator. These rules are listed below.
</p>
<ol class="normal-li">
<li>Focus on generating a large number of ideas</li>
<li>Active involvement of every participant in the process</li>
<li>Encourage out-of-the-box thinking and creativity</li>
<li>Promote criticism free environment - encourage all types of ideas including wild or seemingly ridiculous ideas while keeping the purpose of the brainstorming in mind</li>
<li>Combine ideas to create newer ideas</li>
<li>Setup a reasonable time limit based on the challenge in hand</li>
</ol>

<h2 class="h2small">How to conduct brainstorming?</h2>
<ol class="normal-li">
<li>Select and block a (lively) room free from interruptions and distractions for brainstorming.</li>
<li>Identify and invite the participants. The invite must clearly state the purpose of brainstorming.</li>
<li>Before the start, ensure that the room is equipped with basic essentials like blackboard, flipcharts, pens, and large size post-its, etc.</li>
<li>Initiate the session by clearly explaining the purpose, possibly already written and highlighted on the board. Also set the basic rules for the session. Set some time towards the end of the session for organizing the ideas generated.</li>
<li>Invite people to come up with ideas. One of the participants may be designated to record each idea or alternatively each participant may be requested to pen his/her idea on a post-it to speed up the process. Maintain a lively environment, monotony must be avoided at every cost.</li>
<li>Ensure that the rules of a successful brainstorming are followed properly.</li>
<li>Towards the end, focus on organizing ideas and eliminating the duplicate ones. If the number of ideas generated is sufficiently large, affinity diagram may be used to organize the ideas.</li>
<li>Close the session with a note collectively appreciating each ones contribution.</li>
</ol>

<p>
Armed with this idea bank, we are now ready to shortlist ideas which subsequently can be evaluated for implementation.
</p>
<p class="related">EXPLORE: <a href="http://www.discover6sigma.org/post/2014/01/voting-prz/">Decision Making using Voting: How to use Voting to shortlist Ideas</a></p>
<div class="blocktext">
Today, it is possible to conduct brainstorming session online using web where participants across the globe can effectively collaborate and contribute.
</div>
