---
title: Probability and statistics
date: 2005/12/01
category: statistics, probability-theory
---

<p>
Let us revisit the frequency distribution table for pizza delivery time that we created in section on Statistics Simplified.
</p>

<img src="/post/2005/12/probability-and-statistics/pas-freq-table.jpg" alt="Example Frequency Distribution Table" class="img-center" />
<br />

<p>
If the above data is our "sample space" then what is the probability of delivering pizza between 14 and 16 minutes? Clearly it is 10 divided by 40 equal to 0.25. Let us re-write the formal equation for computing the probability.
</p>

<img src="/post/2005/12/probability-and-statistics/pas-prob-formula.jpg" alt="Equation for Computing Probability" class="img-center" />
<br />

<p>
Now, recall the formula of computing the mean from a frequency table. And watch, how probability fits in to the formula.
</p>

<img src="/post/2005/12/probability-and-statistics/pas-stats2prob.jpg" alt="Probability and Statistics Relation" class="img-center" />
<br />
