---
title: About breakthrough
date: 2005/10/01
tags: six-sigma-basics
---

<p>
Breakthrough improvements require breaking rules, experimenting, innovating, and inventing. Truly, it is all about thinking differently; as Deepak Chopra says, "winners don't do different things, they do things differently". This requires significant amount of mental stretching. Therefore, we need to constantly leverage our wisdom, experience, and knowledge.
</p>
<p>
To gain simple practical insight, let us pause and conduct an experiment. For this experiment, we need an A4 size paper and a pencil or pen. We will now carry out some very simple tasks and note down the time to complete each task. This time could even be a few seconds or a few minutes. Here are the tasks:
</p>
<ol class="normal-li">
<li>Draw a circle and divide it into 2 equal parts</li>
<li>Draw another circle and divide it into 4 equal parts</li>
<li>Draw a triangle and divide it into 3 equal parts</li>
<li>Draw a square and divide it into 4 equal parts</li>
<li>Draw a square and divide it into 5 equal parts</li>
</ol>
<p>
Notice the time difference between the last task and the remaining tasks. Most people take much longer to complete the last task. The outcome of this experiment clearly indicates that the biggest obstacle in out of the box thinking is being in the box i.e. mental fixedness. We always tend to solve problems with solutions that we have worked out in the past.
</p>
<p>
With this background, have a close look at the following picture:
</p>
<img src="/post/2005/10/about-breakthrough/ab-prob.jpg" alt="Breakthrough Example Problem" class="img-center" />
<br />
<p>
This is made from a single A4 sheet of paper without cutting it into multiple pieces and using any adhesives. Does it look impossible? No, it is not! What it needs is some innovative thinking and little bit of experimentation.
</p>
<div class="blocktext">
Surely, we now agree with Walt Disney's famous saying, "It's always fun to do the impossible". It is all about aiming at impossible and achieving it.
</div>
