---
title: Fishbone diagram
date: 2005/11/01
category: methods-tools-techniques
---

<p>
The fishbone diagram is a graphical method for finding the root causes of an effect. The effect can be either a negative one, such as a process defect or an undue process variation; or a positive one, such as a desired process outcome. Kaoru Ishikawa, a famous Japanese consultant developed this method in the 1960s. It is also known as "Cause-and-Effect Diagram" or "Ishikawa Diagram". The balance chapter details the steps required to construct a fishbone diagram. The example effect to illustrate the concept is "high petrol consumption in a car".
</p>

<h2 class="h2small">Step I</h2>
<p>
Identify the process effect to be analysed. Develop an Operational Definition to ensure that it is clearly understood. Write the effect in a box on the right side and draw a horizontal arrow from left to right that touches the box as illustrated in the figure below.
</p>

<img src="/post/2005/11/fishbone-diagram/fd-step-i.jpg" alt="Step I" class="img-center" />
<br />

<h2 class="h2small">Step II</h2>
<p>
Identify the main categories of causes resulting in the effect under consideration. These categories can easily be selected from the applicable six key process elements. These process elements are people, environment, material, method, machinery, and measurement. Add selected categories in the diagram as illustrated in the following figure.
</p>

<img src="/post/2005/11/fishbone-diagram/fd-step-ii.jpg" alt="Step II" class="img-center" />
<br />

<h2 class="h2small">Step III</h2>
<p>
Identify as many causes under each category and add them to the corresponding category. Detail each cause further (recursively) to the lowest level possible.
</p>

<img src="/post/2005/11/fishbone-diagram/fd-step-iii.jpg" alt="Step III" class="img-center" />
<br />


<p>
Analyse this diagram to identify the causes that require deeper investigation. As fishbone diagram identify only potential causes, it may be a good idea to use a Pareto Chart to determine the cause(s) to focus on first.
</p>
