---
title: Variation & Defect
date: 2005/10/01
---

<h2 class="h2small">Variation</h2>
<p>
Variation is everywhere. It probably touches our lives more closely than any other thing! Only the degree of variation may vary.
</p>
<p>
In automotive parts industry, every cylinder produced has a different diameter, usually within a tolerance limits around a nominal diameter. Traffic conditions on road vary every day. In a shopping mall, number of people changes every day. Response time in telebanking varies during the day. Variation even drives physics - quantum physics. In the words of the living legend of physics, Stephen Hawking, "Quantum mechanics does not predict a single definite result for an observation. Instead, it predicts a number of different possible outcomes and tells us how likely each of these is. Quantum mechanics therefore introduces an unavoidable element of unpredictability or randomness into science." Let us take a simple example to understand variation further.
</p>
<p>
What time do we reach work in the morning? In a 9 to 5 office environment, do we reach at dot 9AM everyday? Some day it may take a little longer and we reach at 9:10AM, whereas on another day it takes a little shorter to reach and we arrive at 8:50AM. In general, we know that we get to office between 8:50AM to 9:10AM. So there is a variation of 20 minutes! This variation may occur due to traffic signals, and traffic conditions. But we know that the variation is contained with in 20 minutes and seems "natural" or "common". A closer look reveals that this variation does not have a specific reason and is random within 20 minutes range.
</p>
<p>
Now imagine, we begin to get flat tyre often. This results into further a delay of 20 to 25 minutes every day leading to increase in variation. We finally discover that it is happening due to worn-out tyres. Upon changing the tyres, we are back to our natural variation of 20 minutes because we have removed the "special" or "assignable" cause of variation.
</p>
<p>
Only way to reduce the natural variation is to change or improve our process of traveling to office. Possibilities are to choose a different route with more predictable traffic conditions, or switch to a 2 wheeler or bicycle to nullify heavy and unpredictable traffic conditions.
</p>

<h4>Formal Picture</h4>
<p>
Variation is present in the output(s) of every process. The degree of variation or the distribution pattern of the output is a measure of process capability or maturity. The six key process elements - people, environment, material, method, machinery, and measurement impact variation. It can be classified in 2 categories - common or natural and special or assignable.
</p>
<p>
The natural variation always occurs and it can not be traced to a specific cause. It is random within a predictable range or in other words, it follows a distribution pattern (we have detailed discussion on distribution later). The natural variation reduction requires fundamental change in the process.
</p>
<p>
The special variation occurs due to an assignable cause outside the natural variation. It can easily be traced to a specific cause, usually relating to the 6 key process elements. Once detected, its removal is a relatively simple exercise.
</p>
<p>
At this stage, it may be a good idea to revisit our example of pizza shop in section on "Introduction to Six Sigma".
</p>
<div class="blocktext">
Understanding variation is fundamental to business excellence. As quality guru W. E. Deming says, "If I had to reduce my message for management to just a few words, I'd say it all had to do with reducing variation."
</div>

<h2 class="h2small">Defect</h2>
<p>
In our context, a defect is an imperfection of deficiency in a product or a service detected (or perceived) by the customer. In other words, defect occurs when variation in a product or service goes beyond the acceptable limits. We can identify or detect a defect in a product/service only and only if we have a measurable benchmark or target.
</p>

<p>
Let us go back to our pizza shop example in "Introduction to Six Sigma". Imagine the situation without a 30 minutes delivery target. There was absolutely no way to determine how much of delay is really a delay! Customer perception of delayed delivery would possibly have been a function of his/her hunger level; and management would have had no idea to how to handle such defects.
</p>
<div class="blocktext">
The target must be set up on the basis of industry/competitor benchmarks and to exceed customer expectations.
</div>
