---
title: Few words on quality
date: 2005/10/01
category: six-sigma-basics
---

<p>
We often talk about quality in our daily lives - quality of products, or quality
of services. Let us take a quick yet deeper look at the meaning. Some of the popular dictionary meanings of quality are:
</p>

<ol class="normal-li">
<li>A distinguishing characteristic</li>
<li>Degree of excellence</li>
</ol>

<p>
We can look for many more meanings and definitions on web by searching on google for keyword "define: quality".
</p>
<p>
The important keywords are "distinguishing" and "excellence" and their interpretation are contextual and vary from situation to situation. However, there are 3 common characteristics of quality:
</p>
<img src="/post/2005/10/few-words-on-quality/afwoq-qltychar.jpg" alt="3 common characteristics of quality" class="img-center" />
<p>
We, as customers, do not look for quality in isolation. It is always a combination of quality and cost. In other words the "value" of product or service. Value may be defined as ratio of quality to cost, where quality is proportional to the product of its 3 essential characteristics (defined above).
</p>
<div class="blocktext">
Therefore, businesses have to constantly strive to provide higher "measurable" value to their customers.
</div>
