---
title: Processes are everywhere
date: 2005/10/01
tags: six-sigma-basics
---

<p>
Processes exist everywhere, from cosmos to planets to living beings. We can view every piece of work that we do as a process. But what is a process? Common dictionary meaning of process is "series of actions, changes, or functions bringing about a result".
</p>
<p>
Examples of processes are plenty - process of obtaining housing loan, car insurance claim process, fractional distillation process to produce petroleum products, creation of black holes is a cosmic process, and finally creation of cosmos by God is a divine process!
</p>
<p>
On a formal note, it is something that accepts one or more inputs from its suppliers, transforms them into one or more outputs for its customers. The transformation, carried out using a defined sequence of activities, usually adds value to inputs to produce outputs.
</p>

<img src="/post/2005/10/processes-are-everywhere/pae-sipoc.jpg" alt="SIPOC" class="img-center" />
<br />

<p>
The inputs are called as X's and the outputs are referred as Y's. The process can be imagined as a transformation function "f" of input variables "X". A mathematical view of the above picture is given below:
</p>

<img src="/post/2005/10/processes-are-everywhere/pae-yeqfx.jpg" alt="Y = f(X)" class="img-center" />
<br />

<p>`Y=f(x)`</p>

<p>
Businesses are also collection of processes that are involved in the final goal of delivering a product or service to the customer. Managing business processes efficiently is a critical success factor for businesses.
</p>
<p>
Most business managers' focus is only on process Y's. While Y's are important, to focus on X's and the "f" is equally essential. Remember, if the process turn-around-time to produce output (Y's) from inputs (Xs) is high then irrecoverable damage may be done by the time we observe unacceptable variation in outputs.
</p>
<p>
The successful process management requires constant monitoring and control of Y's and X's. In order to monitor, precise measurement of X's and Y's is necessary. The goal is to control X's and Y's within the prescribed limits.
</p>
<p>
Let us recall our Pizza Shop. The management always reviewed pizza sales volumes and profitability over time and felt happy to see the growth. Alarm bells rang when they saw in dip in sales volume. After analysis, it was revealed that the customers started to switch to other shops due to delayed pizza delivery. Clearly damage is already done - lost customer base. Now we can clearly see the importance of focusing on right set of X's and Y's.
</p>
<p>
At this stage it is important to recall that "Six Sigma" is about managing business processes by handling variation and reducing defects in processes.
</p>
<p>
As discussed, variation is present in the output(s) of every process (therefore, even inputs will have variation). The degree of variation or the distribution pattern of the output is a measure of process performance or maturity. This variation is classified in two categories - common or natural and special or assignable.
</p>

<h2 class="h2small">Process Performance</h2>
<p>
The performance of a process is defined as the inherent variability of a process in the absence of any special or assignable causes. It is a statistical indicator of how well a process is functioning i.e. running within its specified limits.
</p>
<p>
We will now take an example to understand the concept of process performance. Imagine we wish to setup a process for manufacturing washers (thin disk with a hole in the middle; used to support the load of a threaded fastener) having an inner diameter of 1.0 cm (read target or mean). And a maximum acceptable variation is &plusmn;0.1cm. Any variation beyond acceptable limits is considered as defect. This means a washer having an inner diameter of 1.11cm will be marked as defective.
</p>
<p>
Formally put, the inner diameter specifications are 1.0&plusmn;0.1cm. This means that
</p>
<ol class="normal-li">
<li>Specified tolerance or acceptable variation is 0.2cm (the spread of tolerance).</li>
<li>Lower specification limit (referred as LSL) is 0.9cm (1.0-0.1).</li>
<li>Upper specification limit (referred as USL) is 1.1cm (1.0+0.1).</li>
<li>The target (or mean) diameter is 1.0cm.</li>
</ol>
<p>
Clearly, our manufacturing process will be a capable one provided it has a mean equal to the target (i.e. 1.0cm) and a variation less than the specified tolerance or acceptable variation (i.e. 0.2cm). In addition, there should not be any special cause of variation i.e. it should be under control.
</p>
<p>
There are 4 common mathematical expressions to compute process performance under different contexts:
</p>

<img src="/post/2005/10/processes-are-everywhere/pae-ppks.png" alt="Mathematical Expressions to Compute Process Performance" class="img-center" />
<br />

<p>`P_p = (USL - LSL)/(6 sigma)`</p>
<p>`P_(pu) = (USL - mu)/(3 sigma)`</p>
<p>`P_(pl) = (mu - LSL)/(3 sigma)`</p>
<p>`P_(pk) = min [ (mu - LSL)/(3 sigma), (USL - mu)/(3 sigma) ]`</p>

<p>
For a capable process, these should be equal or more than 1.0. Commonly recommended value is 1.33 or more.
</p>
<p>
If <b>Pp</b> is equal to "1.0" then only "0.26%" washers will be defective, provided their inner diameter follows the normal distribution. Wondering why? Simple, just refer to our discussion on Introduction to Six Sigma. This states, "One of the characteristics of this (normal) distribution is that 68% of area (i.e. the data points) falls within the area of -1&sigma; and +1&sigma; on either side of the mean. Similarly, 2&sigma; on either side will cover approximately 95.5% area. 3&sigma; on either side from mean covers almost 99.7% (99.74% to be a little more precise) area". With <b>Pp</b> as 1.0, only (100-99.74)% i.e. 0.26% washers will have inner diameter beyond USL or LSL.
</p>

<p>
<b>Pp</b> is a good measure when the process is centered in the middle of USL and LSL. <b>Ppu</b> is used when process only has an upper specification limit - our 30 minutes pizza delivery is a good example for this. <b>Ppl</b> is used when process has only lower specification limit. <b>Ppk</b> is a good measure when the process is not exactly centered in the middle of USL and LSL.
</p>
