---
title: SIPOC
date: 2007/06/01
---

<p>
SIPOC is a high-level picture of the process that depicts how the given process is servicing the customer. It is an acronym for Suppliers - Inputs - Process - Outputs - Customers. The definition of each of these SIPOC entities is given below.
</p>
<p>
<b>Suppliers</b> provide inputs to the process.<br /><br />
<b>Inputs</b> define the material, service and/or information that are used by the process to produce the outputs.<br /><br />
<b>Process</b> is a defined sequence of activities, usually adds value to inputs to produce outputs for the customers.<br /><br />
<b>Outputs</b> are the products, services, and/or information that are valuable to the customers.<br /><br />
<b>Customers</b> are the users of the outputs produced by the process.<br /><br />
</p>
<p>
In more formal terms, SIPOC can be seen as a high-level process map. It is typically used during the define phase of a process improvement project, as it helps us clearly understand the purpose and the scope of a process. It is a starting point in identifying the voice of the customer (VOC). It gives us initial insight in to the vital inputs (or X variables) of a process [Y = f(X)] that have significant impact on critical outputs (or Y variables). It also becomes a primary input to detailed process map construction.
</p>
<p class="related">SCAN: <a href="http://www.discover6sigma.org/post/2005/10/processes-are-everywhere/">Processes are everywhere</a></p>
<p>
Creation of SIPOC is a team activity that requires brainstorming to discover (hidden) details. The team consists of all the stakeholders of the process under consideration. Brainstorming is carried out iteratively for each element (i.e. suppliers, inputs, process steps, outputs and customers) of SIPOC. While creating SIPOC for a new process under design, it is a good idea to start from customer and move backwards to supplier. On the other hand, during discovery or documentation of an existing process, SIPOC is usually created starting from process definition followed by identification of outputs, customers, inputs and suppliers.
</p>
<p class="related">EXPLORE: <a href="http://www.discover6sigma.org/post/2005/11/brainstorming/">How to brainstorm?</a></p>
<p>
The broad guidelines for the definition/identification of 5-SIPOC entities are given below. To illustrate the concept, examples from our 30-minute pizza deliver shop for the order process are used.
</p>
<p>
Suppliers are individuals or organizations that provide inputs to the process. These can be internal (e.g. department, division, or individuals) or external (e.g. vendors, government, or individuals). It is also possible that a supplier is also a customer. In our example, key suppliers can be for dough, vegetables, tomato paste, cheese, packing box, 2-wheeler maintenance, and telephone services.
</p>
<p>
Inputs are material, information, and/or services that are required by the process to produce the outputs. It can even include factors that influence the process. For example, in a paint shop, environmental factors such as humidity can impact the process. For pizza order process, typical inputs are dough, vegetable, tomato paste, cheese, and packing box.
</p>
<p>
Defining the process involves identification of key process steps and their sequence. The steps should be written in a verb-object format with contextually meaningful modifiers such as adjectives, adverbs or indirect objects. For example, pickup phone within 3 rings or take customer order on phone. It also important to establish the process boundaries at this stage in terms of which event triggers the process and which event marks the end of the process.
</p>
<p>
In our case, process starts from customer call for his/her order and ends on successful delivery within 30 minutes. Some important process steps are receive order from customer, queue order in the kitchen, receive order items at packing station &amp; check against order, pack ordered items, identify delivery person &amp; handover order and delivery address.
</p>
<p>
Outputs are typically product, information, service, and/or decisions that are produced as a result of the process execution. In our case, output is delivery of all the ordered items within 30 minutes from the order.
</p>
<p>
Customers are those who pay for the process output or get directly impacted by the process output. In our example, customer is the person who placed the order.
</p>
<p>
SIPOC is usually contracted in a 5-column tabular format as illustrated below.
</p>

<img src="/post/2007/06/sipoc/sipoc-template.gif" class="img-center" alt="SIPOC Template" />
