---
title: Affinity diagram
date: 2009/02/01
category: methods-tools-techniques
---

<p>
A pool of ideas, generated from a <a href="http://www.discover6sigma.org/post/2005/11/brainstorming/" title="Brainstorming">brainstorming</a> session, needs to be  analyzed, prioritized before they can be implemented. A smaller set of ideas are easy to sift through and evaluate without applying any formal technique.

Affinity diagramming is an effective technique to handle a large number of ideas. It is typically used when
</p>
<ol class="normal-li">
<li>
Large data set is to be traversed, like ideas generated from brainstorming and sieve for prioritization.
</li>
<li>
Complexity due to diverse views and opinions.
</li>
<li>
Group involvement and consensus.
</li>
</ol>

<p>
Association, kinship, likeness are synonymous to affinity, and they are the underlying principle to be followed while adopting this technique. The process of affinity diagramming requires the team to categorize the ideas based on their subject knowledge thereby making it easy to sift and prioritize ideas.
</p>
<h2 class="h2small">Prerequisites for an Affinity Session</h2>
<ol class="normal-li">
<li>
An idea set generated from a Brainstorming Session, typically captured in form of Post-it Notes.
</li>
<li>
Team should include people who have the necessary knowledge and skills to meld opinions, perspectives and are aware about the problem at hand. Too small or a very large team may not be effective. Rule of thumb suggests between 4 to 6 members in the team.
</li>
<li>
Invitation that clearly states the purpose of the session.
</li>
<li>
A facilitator is required to conduct the session.
</li>
</ol>

<h2 class="h2small">How to conduct an Affinity Session</h2>
<ol class="normal-li">
<li>
Select and block a (Lively) room free from interruptions and distractions.
</li>
<li>
Initiate the session by explaining the purpose, possibly already written and highlighted on the board.
</li>
<li>
Place the Post-its randomly on the board/flat surface, ensuring visibility to all.
</li>
<li>
Set the first objective as sorting ideas, opinions &amp; issues  based on the most natural relationship amongst them.
</li>
<li>
Invite participants to get involved in the exercise of creating like groups from the idea pool.
</li>
<li>
Participants should look for ideas that are related in some way, move the post-its for the like ideas to be together. The process should be followed till all ideas have been grouped.
</li>
<li>
Resolve conflict of ideas falling in more than one group by placing another post-it with the same idea in both groups.
</li>
<li>
Participants now can discuss on the patterns identified and focus on the controversial ideas.   A consensus can be reached by discussion, making the changes in grouping.
</li>
<li>
When ideas are grouped, select the heading to categorize each group. A meaning full but short heading represents the key thought of the group being assigned to. Now move groups under their respective headings to view the Affinity Diagram.
</li>
</ol>

<p>
At the end of session, team is ready with Affinity Diagram, the categorized ideas are now ready for further shortlisting, if required.
</p>
<p class="related">EXPLORE: <a href="http://www.discover6sigma.org/post/2014/01/voting-prz/">Decision Making using Voting: How to use Voting to shortlist Ideas</a></p>
<h2 class="h2small">Affinity Diagram Example</h2>
<p>
Following diagrams show a simplified sample for our famous timely pizza delivery problem.
</p>
<p>
<img src="/post/2009/02/affinity-diagram/pre-affinity.png" alt="Ideas generated from Brainstorming" class ="img-center" />
</p>
<p>
<img src="/post/2009/02/affinity-diagram/post-affinity.png" alt="Ideas after Affinity Diagramming" class ="img-center" />
</p>

<p>
In real life, brainstorming &amp; affinity diagramming techniques also find their applications while using other quality management tools and techniques. For example, while creating FMEA, possible cause of failures can be discovered through a brainstorming session and subsequently they can be categorized into different risk categories using affinity diagramming.
</p>
