<div class="container">

<h2>Privacy Policy</h2>

<p>GrayPE Systems (P) Limited (also referred as "we" and "our") is committed to protecting and respecting your privacy. We encourage you to read this carefully to understand how we care about your data.</p>

<ol>
	<li>When you signup for Decisively, we ask for your e-mail id and request you to choose a login id. This information is used for (a) service provisioning, (b) identification &amp; authentication, and (c) contacting you occasionally for service related announcements.</li>

	<li>We also record aggregated information about your navigation within the decisive.ly domain. This information is used to improve the content of our website and overall quality of service. We may also keep a record of your (a) e-mail, chat or paper communication with us and (b) any other information volunteered by you as a result of surveys conducted by us.</li>

	<li>Any information that we collect is not shared with or sold to any third party, except (a) to provide services that you have requested, or (b) when it becomes a legal obligation, or (c)  in order to enforce our <a href="terms.html">Terms of Use</a> or (d) in the event of merger/acquisition, where this data may be transferred as an asset to the merged entity/acquirer.</li>

	<li>All your information and data is stored on secured servers operated by our hosting partners. We take all steps reasonably necessary to ensure that your stored data is treated securely and in accordance with this privacy policy. When you deactivate/delete your account and/or data, we may retain your information including but not limited to your e-mail address as backup for legal and compliance reasons.</li>

	<li>Cookies are required to use Decisively services. They are used to record current session information.</li>

	<li>We may change this policy from time to time. The last update date is always clearly indicated at the end of this page. In the event of any significant changes in this policy, we will notify you on your e-mail provided during signup.</li>
</ol>

<p>
	Kindly address all your questions relating to this privacy policy to privacy[at]decisive.ly.
	<br/>
	<b>Last updated on January 6, 2016</b>
</p>

</div>
